<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission 
        android:name="android.permission.PACKAGE_USAGE_STATS" 
        tools:ignore="ProtectedPermissions" />
    
    <application
        android:name=".StoicApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/Theme.StoicLauncher">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoicLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
             android:name=".presentation.settings.SettingsActivity"
             android:theme="@style/Theme.StoicLauncher"
             android:exported="false" />
             
        <!-- Custom Calendar Widget -->
        <receiver
            android:name=".presentation.widget.calendar.StoicCalendarProvider"
            android:exported="true"
            android:label="Calendario Stoic">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stoic_calendar_info" />
        </receiver>

        <service
            android:name=".presentation.widget.calendar.CalendarRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".presentation.services.StoicAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        
        <!-- Icon Packs -->
        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>
        <intent>
            <action android:name="org.adw.launcher.THEMES" />
        </intent>
        <intent>
            <action android:name="com.dlto.atom.launcher.THEME" />
        </intent>
    </queries>

</manifest>